@{
    ViewData["Title"] = "Sobre Nosotros";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a tu Tienda Gamer Online</h1>
    <p>Facil y Rapida de usar, con facilidades de pago.</p>
    <p>Compra Hardware y Software.</p>

</div>
