@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <hr />
    <div>
        <h4 class="display-4" style="font-weight: bold;">Informe de Ventas e Ingresos OGStore</h4>
    </div>
    <hr />
</div>


