@{
    ViewData["Title"] = "Lista de Categorías";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OnlineGamerStoreAdmin.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Marcas.css" asp-append-version="true" />
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>

    <div class="card">
        <h2 class="card-header">Administración De Marcas</h2>
        <div class="card-body">
            <div id="app">
                <button type="button" class="btn btn-success" @@click="abrirModalNueva">Nueva Marca</button>
                <hr />
                <h5>Lista de Categorías</h5>
                <table v-if="marcas.length > 0" class="table table-striped">
                    <thead>
                        <tr>
                            <th @@click="ordenarPor('idMarca')">ID</th>
                            <th @@click="ordenarPor('descripcionMarca')">Descripción</th>
                            <th @@click="ordenarPor('estado')">Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="marca in MarcasPaginadas" :key="marca.idMarca">
                            <td>{{ marca.idMarca }}</td>
                            <td>{{ marca.descripcionMarca }}</td>
                            <td>{{ marca.estado ? 'Activo' : 'Inactivo' }}</td>
                            <td>
                                <button class="btn btn-primary" @@click="abrirModal(marca)">Editar</button>
                                <button type="button" class="btn btn-danger" @@click="eliminarMarca(marca.idMarca)">Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p v-else>Cargando categorías...</p>


                <!-- Paginación -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item" :class="{ disabled: paginaActual === 1 }">
                            <a class="page-link" href="#" @@click.prevent="paginaActual--">&laquo;</a>
                        </li>
                        <li v-for="pagina in totalPaginas" :key="pagina" class="page-item" :class="{ active: pagina === paginaActual }">
                            <a class="page-link" href="#" @@click.prevent="paginaActual = pagina">{{ pagina }}</a>
                        </li>
                        <li class="page-item" :class="{ disabled: paginaActual === totalPaginas }">
                            <a class="page-link" href="#" @@click.prevent="paginaActual++">&raquo;</a>
                        </li>
                    </ul>
                </nav>

                <!-- Modal para editar Marca -->
                <div :class="['modal', { mostrar: mostrarModal } ]" @@click.self="cerrarModal">
                    <div class="modal-contenido">
                        <span class="cerrar" @@click="cerrarModal">&times;</span>
                        <h3>{{ esNuevaMarca ? 'Nueva Marca' : 'Editar Marca' }}</h3>
                        <label>Descripción:</label>
                        <input type="text" v-model="marcaSeleccionada.descripcionMarca" class="form-control"><br>
                        <label>Activo:</label>
                        <select v-model="marcaSeleccionada.estado" class="form-control">
                            <option :value="true">Activo</option>
                            <option :value="false">Inactivo</option>
                        </select><br>
                        <button class="btn btn-success mt-2" @@click="guardarCambios">Guardar</button>
                    </div>
                </div>

                <!-- Modal para nueva Marca -->
                <div :class="['modal', { mostrar: mostrarModalNueva } ]" @@click.self="cerrarModalNueva">
                    <div class="modal-contenido">
                        <span class="cerrar" @@click="cerrarModalNueva">&times;</span>
                        <h3>Nueva Categoría</h3>
                        <label>Descripción:</label>
                        <input type="text" v-model="nuevaMarca.descripcionMarca" class="form-control"><br>
                        <label>Activo:</label>
                        <select v-model="nuevaMarca.estado" class="form-control">
                            <option :value="true">Activo</option>
                            <option :value="false">Inactivo</option>
                        </select><br>
                        <button class="btn btn-success mt-2" @@click="guardarNuevaMarca">Guardar</button>
                    </div>
                </div>
            </div>
            <hr />
        </div>
    </div>

    <!-- SCRIPT Vue.js PARA Marcas -->

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    marcas: [],
                    paginaActual: 1,
                    registrosPorPagina: 15,
                    ordenAsc: true,
                    columnaOrden: '',
                    mostrarModal: false,
                    mostrarModalNueva: false,
                    marcaSeleccionada: {},
                    nuevaMarca: { descripcionMarca: '', estado: true }
                };
            },
            mounted() {
                this.obtenerMarcas();
            },
                computed: {
            totalPaginas() {
                return Math.ceil(this.marcas.length / this.registrosPorPagina);
            },
            MarcasPaginadas() {
                const inicio = (this.paginaActual - 1) * this.registrosPorPagina;
                const fin = inicio + this.registrosPorPagina;
                return this.marcas.slice(inicio, fin);
            }
        },
            methods: {
                async obtenerMarcas() {
                    try {
                        const response = await axios.get('/Administration/Marcas', {
                            headers: { 'X-Requested-With': 'XMLHttpRequest' }
                        });
                        this.marcas = response.data;
                    } catch (error) {
                        console.error('Error al obtener categorías:', error);
                    }
                },
                ordenarPor(columna) {
                    if (this.columnaOrden === columna) {
                        this.ordenAsc = !this.ordenAsc;
                    } else {
                        this.columnaOrden = columna;
                        this.ordenAsc = true;
                    }
                    this.marcas.sort((a, b) => {
                        let valA = a[columna];
                        let valB = b[columna];

                        if (typeof valA === 'string') valA = valA.toLowerCase();
                        if (typeof valB === 'string') valB = valB.toLowerCase();

                        return this.ordenAsc ? (valA > valB ? 1 : -1) : (valA < valB ? 1 : -1);
                    });
                },
                abrirModal(marca) {
                    this.marcaSeleccionada = { ...marca };
                    this.mostrarModal = true;
                },
                cerrarModal() {
                    this.mostrarModal = false;
                },
                abrirModalNueva() {
                    this.nuevaMarca = { descripcionMarca: '', estado: true };
                    this.mostrarModalNueva = true;
                },
                cerrarModalNueva() {
                    this.mostrarModalNueva = false;
                },
                async guardarCambios() {
                    try {
                        const response = await axios.put('/Administration/ActualizarMarca', this.marcaSeleccionada);
                        alert(response.data);
                        this.cerrarModal();
                        this.obtenerMarcas(); // Actualiza la lista
                    } catch (error) {
                        console.error('Error al actualizar la categoría:', error);
                        alert('Error al actualizar la categoría');
                    }
                },
                async guardarNuevaMarca() {
                    try {
                        const response = await axios.post('/Administration/CrearMarca', this.nuevaMarca);
                        alert(response.data);
                        this.cerrarModalNueva();
                        this.obtenerMarcas(); // Actualiza la lista
                    } catch (error) {
                        console.error('Error al crear la categoría:', error);
                        alert('Error al crear la categoría');
                    }
                },
                async eliminarMarca(idMarca) {
                    if (!confirm('¿Está seguro de eliminar la categoría?')) return;

                    try {
                        const response = await axios.post(`/Administration/EliminarMarca`,
                        { IDMarca: idMarca },
                        { headers: { 'Content-type' : 'application/json' } }
                        );

                        alert(response.data);
                        this.obtenerMarcas(); // Actualiza la lista
                    } catch (error) {
                        console.error('Error al eliminar la categoría:', error, idMarca);
                        alert('Error al eliminar la categoría');
                    }

            },
            cambiarPagina(pagina) {
            if (pagina >= 1 && pagina <= this.totalPaginas) {
                this.paginaActual = pagina;
            }
        }
            }
        });
        app.mount('#app');
    </script>

    <!-- FIN SCRIPT Vue.js PARA MarcaS -->
</body>
</html>